.divCard { 
    padding-left: -50px;
    padding-right: -50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: #FAFBFD;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    transform-style: preserve-3d;

   
}

.divCard:hover {
    transform: scale(1.05);
    background-color: rgb(110, 84, 84);
}